@charset "utf-8";
html{
        height:100%;
}
body{
        background:#383f46;
        height:100%;
        width:100%;
        margin:0;
}
.navwrapper{
        margin:0;
        overflow-x:hidden;
        height:100%;
        background:#383f46;
        padding:0 0 0 0;
        /*background:#30384f url(../images/menu_bj.png) no-repeat bottom;*/
}

.nav-peixun{
        background:url(../images/menu_icon.png) no-repeat;
        background-position:20px 8px;
}
.nav-huiyi{
        background:url(../images/menu_icon.png) no-repeat;
        background-position:20px -58px;
}
.nav-huiji{
        background:url(../images/menu_icon.png) no-repeat;
        background-position:20px -120px;
}
.nav-huiyuan{
        background:url(../images/menu_icon.png) no-repeat;
        background-position:20px -180px;
}
.nav-diaocha{
        background:url(../images/menu_icon.png) no-repeat;
        background-position:20px -246px;
}
#sidebar{
        width:100%;
        margin:0;
        padding:0;
        float:left;
        overflow:hidden;
}
#sidebar-wrapper{
        margin:0 0 0 0;
        overflow:hidden
}
/************ Sidebar Accordion Menu ************/
#sidebar #main-nav{
        width:200px;
        padding:0;
        margin:0 0 0 0;
        border-bottom:0 #c8c8c8 solid;
}
#sidebar #main-nav li{
        list-style:none;
        text-align:left;
        margin:0 0;
        padding:0 0 0 0;
}
#sidebar #main-nav li a.nav-top-item{
        background:#383f46 url(../images/menu_bg1.png) no-repeat;
        background-position:0 2px;
        width:200px;
        height:45px;
        border:0;
        color:#fff;
        cursor:pointer;
        display:block;
        text-decoration:none;
        line-height:54px;
        vertical-align:middle;
        text-decoration:none;
        border-bottom:1px solid #616971;
        cursor:pointer;
}
#sidebar #main-nav li a.nav-top-item img{
        margin:7px 0 0 10px;
        line-height:60px;
        float:left;
}
#sidebar #main-nav li a.nav-top-item span{
        display:block;
        float:left;
        font-size:14px;
        text-indent:5px;
        font-weight:normal;
        line-height:45px;
        overflow:hidden
}
#sidebar #main-nav li a.no-submenu{
        background:#115eab url(../images/menu_bg1.png) no-repeat;
        background-position:0 -127px;
}
#sidebar #main-nav li a.nav-top-item.current{
        background:#383f46 url(../images/menu_bg1.png);
        background-position:0 -62px;
        border-bottom:1px solid #1b3868;
}
#sidebar #main-nav li a.no-submenu.current{
        background:#115eab url(../images/menu_bg1.png);
        background-position:0 -190px;
        border-bottom:1px solid #ef7978;
}
#sidebar #main-nav li a.current:hover{
        color:#ffffff;
}
#main-nav li a{
        display:block;
        padding:0;
        color:#fff;
        text-indent:45px;
        font-size:12px;
        line-height:44px;
        height:44px;
        text-decoration:none;
        font-weight:bold;
        background:#115eab url(../images/menu_bg1.png);
        background-position:0 -255px;
        border-bottom:1px solid #0f4e8c;
}
#main-nav li a.submenu-item{
        background:#115eab url(../images/menu_bg1.png);
        background-position:0 -300px;
}
#main-nav li a.current{
        background:#d95050 url(../images/menu_bg1.png);
        background-position:0 -345px;
        border-bottom:1px solid #2668a9
}
#main-nav li a.submenu-item.current{
        background:#115eab url(../images/menu_bg1.png);
        background-position:0 -398px;
        border-bottom:1px solid #2668a9
}
#main-nav li a.thirdmenu{
        display:block;
        padding:0;
        color:#fff;
        text-indent:45px;
        font-size:12px;
        line-height:40px;
        height:40px;
        font-weight:normal;
        background:#3486d9;
        border-bottom:1px solid #2f71b3
}
#main-nav li a.thirdmenu.current{
        background:#d95050;
        border-bottom:1px solid #c84c4c
}